body{
  background-color: #242424;
}

ul {
  width:60%;
  background-color: #333333;
  color: white;
  border-radius: 10px;
}

h2 {
  width:80%;
  display: block;
  text-align: left;
  padding: 20px;
  text-decoration: none;
}
p{
  width:80%;
  display:block;
  text-align:left;
  padding:20px;
  overflow: hidden;
}

img {
    border-radius: 10px;
}
